/* tags */

main {
    justify-content: center;
}

/* ids */

#passController {

}

#passBTN {
    color: white;
    margin-left: 5px;
}

#passPopup {
    background: var(--primary);
    border-radius: 10px;
}

#comeback {
    position: absolute;
    top: 30px;
    left: 30px;
}

#comeback:hover > a > i {
    color: var(--secundary);
    transform: scale(1.1);
    transition: all 1s;
}

#comeback > a > i {
    background-color: var(--primary);
    padding: 18px 20px;
    font-size: 1.5rem;
    border-radius: 50%;
    
}

/* classes */

.green {
    color: rgb(169, 255, 169);
}

.red {
    color: rgb(255, 166, 166);
}